@using Models.Models
@model IList<Address>
@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>

@if (!Model.Any())
{
    using (Html.BeginForm())
    {
        for (int i = 0; i < 3; i++)
        {
            <fieldset>
                <legend>@(i + 1)</legend>
                <div>
                    <label>City</label>@Html.Editor("[" + i + "].City")
                </div>
                <div>
                    <label>Country</label>@Html.Editor("[" + i + "].Country")
                </div>
            </fieldset>
        }
        <button type="submit">Submit</button>
    }
}
else
{
    for (int i = 0; i < Model.Count(); i++)
    {
        <fieldset>
            <legend>@(i + 1)</legend>
            <div>
                <label>City</label> <p>@Model[i].City</p>
            </div>
            <div>
                <label>Country</label><p>@Model[i].Country</p>
            </div>
        </fieldset>
    }
}